<!DOCTYPE html>
<html>
<head>
  <title>Love It or Leave It</title>
</head>
<body>
  <ul>
    <li><a href='/loveit/foods'>Favorite Foods</a></li>
    <li><a href='/loveit/animals'>Favorite Animals</a></li>
    <li><a href='/leaveit/movies'>Worst Movies</a></li>
    <li><a href='/leaveit/products'>Worst Products</a></li>
  </ul>
  <%- body %>
</body>
</html>